<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <pattern>
          <pattern>
            {
              "@hostname": "%property{HOSTNAME}",
              "@vertical": "${DRP_CF_VERTICAL}",
              "@type":     "service",

              "@service-name":    "${DRP_CF_SERVICE}",
              "@service-version": "${DRP_CF_VERSION}",
              "@trace-id":        "%X{traceId}",
              "@retention":       "technical",

              "thread":    "%thread",
              "logger":    "%logger",
              "log-level": "%level",
              "message":   "%message"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
